# Dependencies
spacy==2.2.4
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.2.5/de_core_news_sm-2.2.5.tar.gz

# Development dependencies
pre-commit==2.2.0
pytest==5.4.1
pytest-cov==2.8.1
