# Dependencies
spacy==2.3.2
stanza==1.0.1
flashtext==2.7
pydantic==1.6.2
torch==1.5.1  # In 1.6.0: RuntimeError: Integer division of tensors using div or / is no longer supported

# Development dependencies
pre-commit==2.2.0
pytest==5.4.1
pytest-cov==2.8.1
